body{
    margin: 0;
    padding: 0;
}

footer {
    background-color: #232323;
    padding-bottom: 50px;
    padding-top: 40px;
    margin: 0;
}



.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    padding: 10px 150px;
    gap: 50px;
    margin: auto;
    padding-bottom: 50px;
}

.main .col h3 {
    color: white;
    padding-bottom: 20px;
    font-weight: normal;
}

.col1, .col4 {
    width: 90%;
}



.main .content .content-inner {
    margin: 24px 0;
    color: #BCBCBD;
    font-size: large;
    width: 100%;
    
}

.main .content .content-inner:hover {
    font-weight: 400;
    color: white;
    cursor: pointer;
    
}

.content .content-inner1 {
    margin: 10px 0;
    color: #BCBCBD;
    font-size: large;
    width: 100%;
    line-height: 1.5rem;
    display: flex;
    gap: 20px;
    word-break:keep-all;
}

.content .content-inner1 .icon {
    color: white;
}

.content .cont, .ema {
    color: white;
}

.media {
    color: white;
    display: grid;
    font-size: x-large;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 70px;
}

.media-inner {
    background-color: #2E2E2E;
    width: 50px;
    height: 50px;
    /* padding: 10px; */
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.bottom {
    color: #BCBCBD;
    text-align: center;
}

.bottom a {
    text-decoration: none;
    color: #BCBCBD;
}

.bottom a:hover {
    color: white;
  
}
.animate{
    opacity: 0;
}
@keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

@media only screen and (max-width: 767px) {
    .main {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

    .media {
        width: fit-content;
    } 

}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .main {
        grid-template-columns: repeat(4, 1fr);
    }

    .media {
        grid-template-columns: repeat(2, 1fr);
    }
    

}

@media only screen and (min-width: 991px) {
    .main {
        grid-template-columns: repeat(4, 1fr);
    }
}