body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

#cf {
  position: relative;
  height: 160vh;
  margin: 0 auto;
  overflow: hidden;
  margin: 0%;
  padding: 0%;
  text-align: center;
  color: white;
}
.home-text {
  position: absolute;
  top: 30%;
  left: 11%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  /* animation-duration: 6s;   */
  width: 80%;
}
#cf img {
  overflow: hidden;
  /* position:absolute; */
  /* left:0; */
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  background-position: center;
  background-repeat: no-repeat;
  height: 160vh;
  width: 100vw;
  max-width: 100%;
  margin: 0%;
  padding: 0%;
}
.holder1 {
  /* width: 80%; */
  height: 200px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  /* top: 35%; */

  color: white;
}
.maintext {
  font-family: "Playfair Display";
  font-size: 90px;
  color: white;
  font-weight: 300;
}

.maindesc {
  text-transform: uppercase;
  /* font-size: large; */
  font-weight: 100;
  font-family: "Poppins";
  font-size: 30px;
  margin-top: -3%;
}
@keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#cf .holder1 {
  background-image: url("./img/xbg_2.webp");
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate;
}

.formholder {
  position: absolute;
  top: 8%;
  left: 11%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  /* animation-duration: 6s;   */
  width: 80%;
}

.values {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 400px;
  width: 100%;
}

.info > p {
  font-family: "Poppins";
  color: #8d703b;
}

.info {
  /* border: 1px solid black; */
  height: 25%;
  width: 300px;
  margin-left: 10px;
  background-color: white;
}

.info > p {
  position: relative;
  top: 20px;
  left: 10px;
  text-transform: uppercase;
  /* width: 50px; */
  font-size: 20px;
  font-weight: 600;
}
.sinfo {
  width: 20%;
}
.btn {
  width: 20%;
}

/* input[type="text"] {
  position: relative;
  top: 40px;
  left: 10px;
  width: 200px;
  height: 40px;
  border: 1px solid white;
  background-color: white;
  font-family: "Playfair Display";
  font-size: 22px;
  outline: none;
}

select {
  position: relative;
  top: 40px;
  left: 10px;
  height: 40px;
  width: 150px;
  font-family: "Playfair Display";
  font-size: 22px;
  outline: none;
  border: 1px solid white;
  background-color: white;
} */

.sinfo > p {
  position: relative;
  top: 20px;
  left: 10px;
}

/* input[type="submit"] {
  width: 100%;
  height: 100%;
  background-color: #8d703b;
  color: white;
  font-size: 18px;
  border: 1px solid #8d703b;
  text-transform: uppercase;
}
input[type="submit"]:hover {
  background-color: black;
  color: white;
} */
.maintext {
  font-size: 50px;
}

.maindesc {
  font-size: 25px;
}

hr {
  width: 12vw;
  background-color: whitesmoke;
}

.one {
  position: relative;
  right: 19%;
  bottom: -30px;
}

.two {
  position: relative;
  left: 19%;
  top: -34px;
}

.values {
  position: absolute;
  top: 600px;
  padding: 10px;
  width: 100%;
}

.info {
  width: 160px;
  height: 120px;
  margin: 10px;
  padding-left: 10px;
}

.info > p {
  position: relative;
  top: 25px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #8d703b;
}

/* input,
select {
  position: relative;
  top: 35px;
  height: 30px;
  width: 90%;
  background-color: white;
  outline: none;
  border: 1px solid white;
  font-family: "Playfair Display";
  font-size: 25px;
} */

/* input[type="submit"] {
  text-transform: uppercase;
  font-family: "Poppins";
  background-color: #8d703b;
  width: 100%;
  height: 70px;
  font-size: large;
  color: white;
  font-weight: 600;
} */
@media screen and (max-width:400px) {
  #cf img {
    overflow: hidden;
    /* position:absolute; */
    /* left:0; */
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0%;
    padding: 0%;
  }
  #cf{
    height: 100vh;
  }
  .maintext {
    font-size: 50px;
  }

  .maindesc {
    font-size: 25px;
  }
  .one {
    position: relative;
    right: 20%;
    bottom: -30px;
    display: none;
  }
  
  .two {
    position: relative;
    left: 19%;
    top: -34px;display: none;
  }
}
/*End of mobile screen*/

/*Medium and tablet size*/
@media (min-width: 767px) and (max-width: 769px) {
  .maintext {
    font-size: 55px;
  }

  .maindesc {
    font-size: 28px;
    font-weight: 700;
    color: rgb(153, 153, 153);
    display: flex;
    margin: 0% 2%;
  }

  hr {
    width: 130px;
  }

  .one {
    position: relative;
    left: 27%;
  top: -34px;
  }

  .two {
    left: 28%;
  top: -34px;
  }

  .values {
    position: relative;
    top: 380px;
    width: 100%;
  }

  .info {
    /* border: 1px solid black; */
    height: 130px;
    width: 160px;
    /* margin-left: 50px; */
    margin-bottom: 10px;
    background-color: white;
  }
  .info btn {
    width: 100%;
  }
  .info > p {
    position: relative;
    top: 20px;
    left: 10px;
    text-transform: uppercase;
    width: 50px;
    font-size: 13px;
    font-weight: 800;
  }

  /* input[type="text"] {
    position: relative;
    top: 30px;
    left: 10px;
    width: 130px;
    height: 20px;
    border: 1px solid white;
    background-color: white;
    font-family: "Playfair Display";
    font-size: 15px;
  } */

  /* select {
    position: relative;
    top: 70px;
    left: 10px;
    height: 20px;
    width: 130px;
    font-family: "Playfair Display";
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    background-color: white;
  } */

  .sinfo > p {
    position: relative;
    top: 40px;
    left: 10px;
  }

  .btn {
    /* width:75%;*/
    height: 55px;
    /* flex: 0 1 80%; */
    position: relative;
    width: 80%;
    top: -8px;
  }

  /* input[type="submit"] {
    width: 100%;
    height: 100%;
    background-color: #8d703b;
    color: white;
    font-size: 18px;
    border: 1px solid #8d703b;
    text-transform: uppercase;
  } */
}

/* css ends for main section of home page */
/* css for about section */
body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header {
  color: white;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header h1 {
  margin-bottom: 0%;
  font-size: 60px;
  font-family: sans-serif;
}

.disp_number {
  display: flex;
  margin: 0% 0%;
  background: #8d703b;
  color: white;
  font-family: sans-serif;
  font-size: xx-large;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  width: 100%;
}
.disp_number div {
  /* margin: 0% 4%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.disp_number div :nth-child(2) {
  font-size: medium;
  color: rgba(255, 255, 255, 0.7);
  margin-top: -20px;
}

.main2 {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0% auto;
}
.video-div {
  background-image: url("https://preview.colorlib.com/theme/deluxe/images/xbg_2.jpg.pagespeed.ic.e-nDkaGJ3O.webp");
  background-size: cover;
  background-position: center center;
  width: 360vw;
  max-width: 41%;
  flex: 50%;
  margin: 0% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-div-play-btn {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #8d703b;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.fa fa-play {
  color: white;
}

.welcome-sect {
  margin: 0% 5%;
  flex: 50%;
}
.welcome-sect-heading {
  padding-left: 10%;
  padding-top: 10%;
}

.welcome-sect h1 {
  font-size: 38px;
  font-weight: 300;
  font-family: "Playfair Display", serif;
  margin-top: 0%;
}
.welcome-sect p {
  color: rgb(143, 143, 143);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.7rem;
}
.welcome-sect-description {
  margin-right: 5%;
}

.social-handles {
  color: #8d703b;
  padding: 1px;
}
.social-handles a {
  text-decoration: none;
  cursor: pointer;
  padding: 1px;
  color: #8d703b;
}
.facilities-section-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  margin: 10% auto;
  margin-bottom: 10%;
  box-sizing: border-box;
}
.facilities-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins", Arial, sans-serif;
  color: grey;
  padding: 0% 1%;
  /* margin: auto 2%; */
}
.facilities-card-container h2 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  color: black;
  margin-bottom: 2rem;
}
.material-icons-outlined {
  color: #8d703b;
}

.facilities-container-icon {
  background-color: #f6f2ea;
  width: max-content;
  border-radius: 100%;
  padding: 10%;
}

.animate {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header h1 {
    font-family: serif;
  }
  .disp_number {
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 15% 0%;
  }
  .main2 {
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin: 0% 0%; */
    flex-direction: column;
  }
  .welcome-sect p {
    color: rgb(143, 143, 143);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 1.9rem;
  }
  .video-div {
    background-image: url("https://preview.colorlib.com/theme/deluxe/images/xbg_2.jpg.pagespeed.ic.e-nDkaGJ3O.webp");
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 300px;
    margin: auto;
    flex: none;
    max-width: 568px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: -1; */
  }
  .welcome-sect {
    margin: 15% 2%;
  }
  .welcome-sect-heading {
    padding-left: 0%;
    padding-top: 0%;
  }
  .welcome-sect h1 {
    font-size: 26px;
    margin-bottom: 8%;
    margin-top: 1%;
  }
  .welcome-sect-description {
    margin-right: 0%;
  }

  .facilities-section-container {
    flex-direction: column;
  }
  .facilities-card-container {
    margin-bottom: 4rem;
  }
  .facilities-container-icon {
    padding: 5%;
  }
  .facilities-card-container h2 {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  body > section.facilities-section-container > div:nth-child(4) > h2 {
    margin-bottom: 41%;
  }
  body > section.main2 > div.video-div {
    min-width: 350px;
  }
}

/* end of css for about section */

/* css for rooms section */
.rooms-container-body {
  background: #f8f9fa !important;
  padding: 3% 0%;
}
.big {
  width: 100px;
  line-height: 2px;
  border-color: #8d703b;
}
.small {
  width: 80px;
  line-height: 1px;
  margin-top: -5px;
  border-color: #8d703b;
}
.hr-lines {
  margin-bottom: 5%;
}
.heading-text {
  font-size: 38px;
  font-weight: 300;
  font-family: "Playfair Display", serif;
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2% 0% 0% 0%;
}

.rooms-container {
  /* border:1px solid black; */

  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 3fr;
  width: 80%;
  /* margin-left: 5%; */
}
.room-img {
  height: 55%;
  width: 100%;
}
.room-spec {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10%;
  font-size: 13px;
  justify-content: space-between;
  /* border:1px solid black; */
}

.rooms-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3%;
  grid-row-gap: 1%;
  /* border:1px solid black; */
  /* padding-left: 5%;
    box-sizing: border-box; */
}

.room-card {
  border: 1px solid #e6e6e6;
  text-align: center;
  background: white;
  padding-bottom: 10%;
  border-top: 1px solid transparent;
  width: 100%;
  /* border:1px solid black; */
  height: 85%;
  /* box-sizing: border-box;    */
  /* margin-bottom: 20%; */
}

.right-sec {
  /* border:1px solid black; */
  height: 950px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}
.searchform {
  border: 1px solid #e6e6e6;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  height: 60%;
}
.rating {
  height: 30%;
  width: 90%;
  margin-top: 20px;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
/* .far {
  color: #8d703b;
}
.fas {
  color: #8d703b;
} */
.slider1 {
  background-color: #8d703b;
}

.searchform div input {
  height: 180%;
  border: 1px solid #e6e6e6;
  width: 120%;
}
#roomtype,
#numofadults,
#numofchild {
  height: 180%;
  width: 120%;
  border: 1px solid #e6e6e6;
  color: gray;
}
#search {
  height: 50px;
  width: 120%;
  background: #8d703b;
  border-color: #8d703b;
  border-radius: 3px;
  border-style: none;
  color: white;
  font-size: medium;
}
.bigsizename {
  font-family: "Playfair Display", serif;
  font-size: 130%;
  font-weight: 50px;
}

.horizontal {
  width: 80%;
  color: gray;
  opacity: 0.3;
}

.cost-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border:1px solid black ; */
  align-items: baseline;
  height: 15%;
  margin-top: -15%;
  margin-bottom: 15%;
}
.pricestyle {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  padding-top: 10%;
  /* padding-bottom:-4px; */
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: fit-content;
  border-color: #8d703b;
}
.pricepernight {
  font-size: 90%;
  font-family: "Poppins", sans-serif;
  color: gray;
}
.item {
  margin: 3px;
}
.booknow {
  font-size: 16px;
  background: white;
  border: none;
}
.fa-long-arrow-alt-right {
  color: black;
}
.line1star,
.ratinghead {
  margin-top: -20px;
}
.slider1 {
  accent-color: #8d703b;
}
.book {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 900px) {
  .rooms-container {
    grid-template-columns: 1fr;
    /* margin:20px; */
    grid-row-gap: 1%;
  }
  .rooms-div {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1%;
  }
  .searchform {
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    /* height:60% */
  }
  .rating {
    width: 100%;
  }
  .searchform div input {
    width: 300%;
    /* height:70% */
  }
  #roomtype,
  #numofadults,
  #numofchild {
    width: 300%;
  }
  #search {
    width: 300%;
  }
  .room-card {
    padding-bottom: 10%;
  }

  .cost-div {
    margin-bottom: 15%;
    height: 15%;
    margin-top: -8%;
  }
}

@media screen and (max-width: 600px) {
  .rooms-container {
    grid-template-columns: 1fr;
    /* margin:20px; */
    grid-row-gap: 5%;
  }
  .rooms-div {
    grid-template-columns: 1fr;
    grid-row-gap: 1%;
    margin-bottom: 80%;
  }
  .searchform {
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    /* height:60% */
  }
  .room-card {
    width: 100%;
    height: 100%;
    padding-bottom: 3%;
  }
  .rating {
    width: 100%;
  }
  .searchform div input {
    width: 200%;
  }
  .cost-div {
    margin-top: 0%;
    margin-bottom: 0%;
    height: auto;
  }
  #roomtype,
  #numofadults,
  #numofchild {
    width: 200%;
  }
  #search {
    width: 200%;
  }
  .cost-div {
    margin-bottom: 15%;
    height: 15%;
    margin-top: -8%;
  }
}

/* end of css for rooms section */

/* css for blog cards */

.img {
  background-image: url(https://preview.colorlib.com/theme/deluxe/images/xbg_1.jpg.pagespeed.ic.JNXGBJeVlA.webp);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* padding: 125px; */
  margin: 10%;
  /* width: 100%; */
  gap: 30px;
  row-gap: 50px;
}
.blog-image {
  height: 275px;
  width: 100%;
}

.blog-cards {
  display: grid;
  gap: 15px;
  /* width: 285px; */
  box-sizing: border-box;
}
.blog-text {
  font-size: 20px;
}
.blog-comment {
  color: rgb(206, 203, 203);
}
.blog-cards :hover {
  color: #8d703b;
  cursor: pointer;
}
.circle_container {
  display: flex;

  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px;
}
.circle {
  box-sizing: border-box;
  padding: 10px;
  height: 40px;
  width: 40px;
  /* border: 2px solid #8d703b; */
  border-radius: 50% 50%;
}
.one {
  background-color: #8d703b;
}

@media screen and (max-width: 600px) {
  .blog-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    /* padding: 125px; */
    margin: 10%;
    /* width: 100%; */
    gap: 30px;
    row-gap: 50px;
  }
}
/* end of css for blog cards */
