@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



// css





//Start of animation
const cards = document.querySelectorAll(".animate");

const options = {
  // rootMargin: "0px 0px 50% 0px",
  threshold: 0.5,
};
const socialObserver = new IntersectionObserver((entries) => {
  console.log(entries);
  entries.forEach((entry) => {
    if (entry.intersectionRatio > 0) {
      entry.target.style.animation = "transitionIn 0.75s ease-out";
      entry.target.style.opacity = "1";
    }
  });
}, options);

cards.forEach((card) => {
  socialObserver.observe(card);
});
//end of animation