*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.m-navheader {
  /* background: #000; */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease;
  z-index: 1000;
}

.mnav-container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.m-nav {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 2px solid rgba(255,255,255,.05); */
  transition: all 0.5s ease;
}

.m-nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}
.m-nav a:hover {
  color: white;
}

.m-nav .m-logo {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 1%;
  color: white;
}

.m-nav-list {
  list-style: none;
  display: flex;
  margin-right: auto;
  margin-left: 40%;
  overflow: hidden;
  padding-top: 20px;
  padding-right: 50px;
}

.m-nav-link {
  margin: 0 2rem;
  position: relative;
}

.m-nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

/* .nav-link:hover::after{
    transform: scaleX(1);
} */

.m-menutext {
  font-family: "Poppins", sans-serif;
  color:white
}

#m-check {
  display: none;
}
.m-checkbtn {
  display: none;
  font-size: 30px;
  color: gray;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}

/*Apply styles after scroll*/
.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}
.scrolling-active .m-menutext{
    color:black;
}
.scrolling-active .fa-bars{
    color:black;
}
.scrolling-active .m-nav{
    height: 4.8rem;
}
.scrolling-active .m-nav a{
    color: #313131;
}
.scrolling-active .m-nav-link::after{
    background-color: #313131;
}

/*Apply styles after scroll end*/

/* Hero Demo Content*/
/* .m-headimg {
  width: 100%;
  height: 100vh;
  background: url("https://preview.colorlib.com/theme/deluxe/images/xbg_1.jpg.pagespeed.ic.JNXGBJeVlA.webp")
    center no-repeat;
  background-size: cover;
  position: relative;
}

.m-headimg::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
}

.demo-content {
  width: 100%;
  height: 200vh;
  background-color: #fff;
} */
/* Hero end*/

@media screen and (max-width:1170px){
  .m-nav-list{
      margin-left:30%
  }
}

@media screen and (max-width: 991px) {
  .mnav-container {
    padding: 0;
    margin:0;
    /* height:10%; */
  }

  .m-nav {
    background: black;
    color: white;
    margin: 0;
    height: 6.8rem;
  }
  .scrolling-active {
    background-color: #fff;
    height:6.8rem;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  }
  .scrolling-active .m-nav {
    background: white;
    color: black;
  }

  .scrolling-active .m-nav-list {
    background: white;
    color: black;
    
  }

  .scrolling-active .m-nav-link::after {
    background-color: white;
  }

  .m-checkbtn {
    display: block;
  }
  .m-nav-list {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: 100%;
    text-align: left;
    background: black;
    transition: top 0.1s;
    font-size: 10px;
    /* top:0; */
  }

  .m-nav-list a:hover {
    color: white;
  }
  #m-check:checked ~ ul {
    left: 0;
  }
  .m-nav-list {
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-top: -2%;
    height: 60%;
    justify-content: space-around;
    padding-left: 2%;
    /* padding-top:0; */
    padding-right: 0;
    
  }

  .m-nav-link {
    margin: 10px;
    bottom: 0;

    color: gray;
  }
  .m-nav a {
    font-size: 1.6rem;
  }
  .m-checkbtn {
    font-size: 20px;
  }
  .m-nav .m-logo {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 2%;
  }
  .m-menutext{
    font-size: 25px;
}
}
