body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header {
  color: white;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header h1 {
  margin-bottom: 0%;
  font-size: 60px;
  font-family: sans-serif;
}

.disp_number {
  display: flex;
  margin: 0% 0%;
  background: #8d703b;
  color: white;
  font-family: sans-serif;
  font-size: xx-large;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  width: 100%;
}
.disp_number div {
  /* margin: 0% 4%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.disp_number div :nth-child(2) {
  font-size: medium;
  color: rgba(255, 255, 255, 0.7);
  margin-top: -20px;
}

.about-main {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0% auto;
}
.video-div {
  background-image: url("https://preview.colorlib.com/theme/deluxe/images/xbg_2.jpg.pagespeed.ic.e-nDkaGJ3O.webp");
  background-size: cover;
  background-position: center center;
  width: 360vw;
  max-width: 41%;
  flex: 50%;
  margin: 0% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-div-play-btn {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #8d703b;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.fa fa-play {
  color: white;
}

.welcome-sect {
  margin: 0% 5%;
  flex: 50%;
}
.welcome-sect-heading {
  padding-left: 10%;
  padding-top: 10%;
}

.welcome-sect h1 {
  font-size: 38px;
  font-weight: 300;
  font-family: "Playfair Display", serif;
  margin-top: 0%;
}
.welcome-sect p {
  color: rgb(143, 143, 143);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.7rem;
}
.welcome-sect-description {
  margin-right: 5%;
}

.social-handles {
  color: #8d703b;
  padding: 1px;
}
.social-handles a {
  text-decoration: none;
  cursor: pointer;
  padding: 1px;
  color: #8d703b;
}
.facilities-section-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  margin: 10% auto;
  margin-bottom: 13%;
  box-sizing: border-box;
  height: 200px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins", Arial, sans-serif;
  color: grey;
  padding: 0% 1%;
  min-height: 200px;
  /* margin: auto 2%; */
}
.card-container h2 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  color: black;
  margin-bottom: 2rem;
}
.material-icons-outlined {
  color: #8d703b;
}

.container-icon {
  background-color: #f6f2ea;
  width: max-content;
  border-radius: 100%;
  padding: 10%;
}

.animate {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header h1 {
    font-family: serif;
  }
  .disp_number {
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 15% 0%;
  }
  .about-main {
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin: 0% 0%; */
    flex-direction: column;
  }
  .welcome-sect p {
    color: rgb(143, 143, 143);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 1.9rem;
  }
  .video-div {
    background-image: url("https://preview.colorlib.com/theme/deluxe/images/xbg_2.jpg.pagespeed.ic.e-nDkaGJ3O.webp");
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 300px;
    margin: auto;
    flex: none;
    max-width: 568px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: -1; */
  }
  .welcome-sect {
    margin: 15% 2%;
  }
  .welcome-sect-heading {
    padding-left: 0%;
    padding-top: 0%;
  }
  .welcome-sect h1 {
    font-size: 26px;
    margin-bottom: 8%;
    margin-top: 1%;
  }
  .welcome-sect-description {
    margin-right: 0%;
  }

  .facilities-section-container {
    flex-direction: column;
    height: auto;
  }
  .card-container {
    margin-bottom: 4rem;
  }
  .container-icon {
    padding: 5%;
  }
  .card-container h2 {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  body > section.facilities-section-container > div:nth-child(4) > h2 {
    margin-bottom: 41%;
  }
  body > section.about-main > div.video-div {
    min-width: 350px;
  }
}
/* css for site header */

#site-header {
  background-image: url("https://preview.colorlib.com/theme/deluxe/images/xbg_1.jpg.pagespeed.ic.VnO0khAEOw.webp");
  /* width: 100%; */
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.header-nav-list {
  position: relative;
  top: 9rem;
  color: whitesmoke;
}
.header-ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: "Poppins";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.8;
  letter-spacing: 1px;
  gap: 20px;
  margin: 0px;
  padding-left: 0%;
  color: rgba(255, 255, 255, 0.7);
  
}
.header-ul li{
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.header-title h1 {
  font-family: "Playfair Display";
  /* width: 100%; */
  margin: 0 auto;
  /* border: 1px solid black; */
  text-align: center;
  position: relative;
  top: 9rem;
  color: white;
  font-size: 3em;
  margin-top: 20px;
  font-weight: 500;
}

.head-anchor {
  text-decoration: none;
  color: white;
}
#site-header a {
  text-decoration: none;
  color: white;
}

/* css for site header */
