body{
    background: #f8f9fa!important;
    font-family: "Poppins",sans-serif;
    margin:0;
    padding:0;
    
}
.container{
    /* border:1px solid black; */
   
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 3fr 1fr;
  margin-left: 5%;
  margin-top: 7%;
}
.room-img{
    height:45%;
    width:100%;
    
   
}
.room-spec{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5%;
    font-size: 13px;
    justify-content: space-between;
    margin-top: 6%;
   
    /* border:1px solid black; */
}

.rooms-div{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 3%;
    grid-row-gap:1%;
    /* border:1px solid black; */
    /* padding-left: 5%;
    box-sizing: border-box; */
     
}
   
.room-card{
    border:1px solid #e6e6e6;
    text-align: center;
    background: white;
    padding-bottom: 20%;
    border-top: 1px solid transparent;
    width:97%;
    /* border:1px solid black; */
    height: 85%;
    /* box-sizing: border-box;    */
    /* margin-bottom: 20%; */
   
}


.right-sec{
    /* border:1px solid black; */
    height:950px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:0
    
    
    
}
.searchform{
    border:1px solid #e6e6e6;
    width:90%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height:60%
    
}
.searchinp{
    width:75%
}
.rating{
    height:30%;
    width:90%;
    margin-top:20px;
    border:1px solid #e6e6e6;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.far{
    color:#8d703b;
    
}
.fa-star{
    color:#8d703b;
}
.slider1{
    background-color:#8d703b;
}

.searchform div input{
    height:180%;
    border:1px solid #e6e6e6;
    width:100%;

}
#roomtype,#numofadults,#numofchild{
    height:180%;
    width:100%;
    border:1px solid #e6e6e6;
    color: gray;
}
#search{
    height:50px;
    width:100%;
    background:#8d703b ;
    border-color: #8d703b;
    border-radius: 3px;
   border-style: none;
   color:white;
   font-size: medium;
}
#search:hover{
    background: white;
    color:#8d703b;
    border:1px solid #8d703b;
   
}
.bigsizename{
    font-family: "Playfair Display", serif;
    font-size: 130%;
    font-weight: 50px;
}

  .horizontal{
      width:80%;
      color: gray;
      opacity:0.3;
     
  }

  .cost-div{
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
     /* border:1px solid black ; */
      align-items: baseline;
      height:15%;
      margin-top: -15%    
     
  }
  .pricestyle{
      font-size: 25px;
      font-family: "Poppins",sans-serif;
      padding-bottom:-4px;
      border-bottom-style: solid;
      border-bottom-width: 2px;
       width: fit-content; 
       border-color:#8d703b;
        
  }
  .pricepernight{
    font-size: 90%;
    font-family: "Poppins",sans-serif;
    color: gray;
   

  }
  .item{
      margin:3px;
      
  }
  .booknow{
      font-size: 16px;
      background: white;
      border:none;   
  }
  .book-div{
      height:10%;
      text-align: center;
  }
  .fa-long-arrow-alt-right{
      color:black
  }
  .line1star,.ratinghead{
      margin-top: -20px;
  }
  .slider1{
      accent-color: #8d703b ;
  }
.book{
    text-decoration: none;
    color:black;
}
.book-div{
    display:flex;
    justify-content: center;
    align-items: center;
    height:10%
}

  @media screen and (max-width:991px){
      .container{
          grid-template-columns: 1fr;
          /* margin:20px; */
          grid-row-gap:1%
      }
      .rooms-div{
          grid-template-columns: repeat(2,1fr);
          grid-row-gap:1%;
      }
      .searchform{
          justify-content:space-between;
          align-content: flex-start;
          width:100%
          /* height:60% */
      }
      .rating{
          width:100%;
      }
      .searchform div input{
       
        width:90%;
        /* height:70% */
    
    }
    #roomtype,#numofadults,#numofchild{
       
        width:90%;
       
    }
    #search{
        width:90%
    }
    .searchinp{
        width:100%
    }
   /* .room-card{
       
       padding-bottom: 10%;
         
   } */
   .room-spec{
       font-size: 20px;
       margin-top:-2%
   }
   .bigsizename{
       font-size: 35px;
   }
   .cost-div{
    margin-top:-5%
   }
   .pricestyle{
    font-size: 30px;
  }
  .pricepernight{
    font-size: 20px;
  }
  .booknow{
      font-size: 20px;
  }
  .book-div{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height:10%
  }
     

  }
  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  @media screen and (max-width:767px){
    .container{
        grid-template-columns: 1fr;
        margin:20px;
        grid-row-gap:5%;
    }
    .rooms-div{
        grid-template-columns: 1fr;
        grid-row-gap:1%;
        
    }
    .searchform{
        justify-content:space-between;
        align-content: flex-start;
        width:100%;
        /* height:60% */

    }
    .room-card{
        width:100%;
        height:100%;
        /* padding-bottom: -136.667px; */
        box-sizing: border-box;
        
        
    }
    .rating{
        width:100%;
    }
    .searchform div input{
     
      width:90%;
  
  }
  .searchinp{
      width:100%
  }
  #roomtype,#numofadults,#numofchild{
     
      width:90%;
     
  }
  #search{
      width:90%
  }
  .bigsizename{
      font-size: 40px;
  }
  
  .cost-div{
      margin-top: -6%;
      height:8%;
     
  }
  .pricestyle{
    font-size: 30px;
  }
  .pricepernight{
    font-size: 20px;
  }
  .room-spec{
      margin-top: 4%;
      font-size: 20px;
  }
  .book-div{
      display:flex;
      height:10%;
      justify-content: center;
      align-items: center;
  }
  .booknow{
      font-size: 30px;
  }
   

}

/* css for site header */

#site-header {
    background-image: url("https://preview.colorlib.com/theme/deluxe/images/xbg_1.jpg.pagespeed.ic.VnO0khAEOw.webp");
    /* width: 100%; */
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .header-nav-list {
    position: relative;
    top: 9rem;
    color: whitesmoke;
  }
  .header-ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: "Poppins";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.8;
    letter-spacing: 1px;
    gap: 20px;
    margin: 0px;
    padding-left: 0%;
    color: rgba(255, 255, 255, 0.7);
    
  }
  .header-ul li{
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  .header-title h1 {
    font-family: "Playfair Display";
    /* width: 100%; */
    margin: 0 auto;
    /* border: 1px solid black; */
    text-align: center;
    position: relative;
    top: 9rem;
    color: white;
    font-size: 3em;
    margin-top: 20px;
    font-weight: 500;
  }
  
  .head-anchor {
    text-decoration: none;
    color: white;
  }
  #site-header a {
    text-decoration: none;
    color: white;
  }
  
  /* css for site header */


  /* css for navbar */

  .m-navheader{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
    font-size: 10px;
}
.mnav-container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.m-nav{
    width: 90%;
    height: 5rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    /* border-bottom: 2px solid rgba(255,255,255,.05); */
    transition: all .5s ease;
}
.m-nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-family: "Poppins",sans-serif;
}
.m-nav a:hover{
    color: white;
}
.m-nav .m-logo{
    font-size: 1.2rem;
    font-weight: bolder;
    padding-left: 7%;
    color:white;
    font-family: "Poppins",sans-serif;
}
.m-nav-list{
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left:40%;
    /* overflow: hidden; */
    padding-top: 20px;
    padding-right: 60px;
}
.m-nav-link{
    margin: 0 2.5rem;
    position: relative;
}
.m-nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}
/* .nav-link:hover::after{
    transform: scaleX(1);
} */
.m-menutext{
    font-family: "Poppins",sans-serif;
    color:white
}
.fa-bars{
    color:white;
}
#m-check{
    display:none;
}
.m-checkbtn{
    display:none;
    font-size: 30px;
    color:gray;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
/*Apply styles after scroll*/
.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}
.scrolling-active .m-menutext{
    color:black;
}
.scrolling-active .fa-bars{
    color:black;
}
.scrolling-active .m-nav{
    height: 3.8rem;
}
.scrolling-active .m-nav a{
    color: #313131;
}
.scrolling-active .m-nav-link::after{
    background-color: #313131;
}
/*Apply styles after scroll end*/
@media screen and (max-width:1170px){
    .m-nav-list{
        margin-left:30%
    }
}
@media screen and (max-width:991px){
    .mnav-container{
        padding:0;
        margin:0;
        /* height:10%; */
    }
    .m-nav{
        background: black;
        color:white;
        margin:0 ;
        height:3.5rem;    
        width: 100%;
    }
    .scrolling-active{
        background-color: #fff;
        box-shadow: 0 3px 1rem rgba(0,0,0,.1);
        
    }
    .scrolling-active .m-nav{
        background: white;
        color:black;
        /* height:4.8rem; */
    }
    .scrolling-active .m-nav-list{
        background: white;
        color:black;
        font-size: 10px;
    }
    .scrolling-active .m-nav-link::after{
        background-color: white;
    }
    .m-checkbtn{
        display:block;
    }
    .m-nav-list{
        position:fixed;
        width:100%;
        height:100vh;
        top:80px;
        left:100%;
        text-align: left;
        background: black;
        transition: top .1s ;
        font-size: 10px;
        /* top:0; */
    }
    .m-nav-list a:hover{
        color: white;
    }
    #m-check:checked ~ ul{
        left:0
    }
    .m-nav-list{
        flex-direction: column;
        width:100%;
        margin:0;
        margin-top:-3%;
        height:60%;
        justify-content: space-around;  
        padding-left: 2%;
        /* padding-top:0; */
        padding-right: 0;
        font-size: 10px;
    }
    .m-nav-link{
        margin:10px;
       bottom:0;
       color:gray
    }
    .m-nav a{
        font-size: 1rem;
    }
    .m-checkbtn{
        font-size: 20px;
        margin-right: 0;
    }
    .m-nav .m-logo{
        font-size: 1.2rem;
        font-weight: bold;
        padding-left: 2%;
    }
    .m-menutext{
        font-size: 18px;
        letter-spacing: 2px;
        margin-left: 2%;
    }
}


/* end of css for navbar */


