body{
    background: #f8f9fa!important;
    font-family: "Poppins",sans-serif;
    margin:0;
    padding:0;
    
}
.container{
    /* border:1px solid black; */
   
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 3fr 1fr;
  margin-left: 5%;
}
.room-img{
    height:45%;
    width:100%;
    
   
}
.room-spec{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5%;
    font-size: 13px;
    justify-content: space-between;
    margin-top: 6%;
   
    /* border:1px solid black; */
}

.rooms-div{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 3%;
    grid-row-gap:1%;
    /* border:1px solid black; */
    /* padding-left: 5%;
    box-sizing: border-box; */
     
}
   
.room-card{
    border:1px solid #e6e6e6;
    text-align: center;
    background: white;
    padding-bottom: 20%;
    border-top: 1px solid transparent;
    width:97%;
    /* border:1px solid black; */
    height: 85%;
    /* box-sizing: border-box;    */
    /* margin-bottom: 20%; */
   
}


.right-sec{
    /* border:1px solid black; */
    height:950px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:0
    
    
    
}
.searchform{
    border:1px solid #e6e6e6;
    width:90%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height:60%
    
}
.searchinp{
    width:75%
}
.rating{
    height:30%;
    width:90%;
    margin-top:20px;
    border:1px solid #e6e6e6;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.far{
    color:#8d703b;
    
}
.fas{
    color:#8d703b;
}
.slider1{
    background-color:#8d703b;
}

.searchform div input{
    height:180%;
    border:1px solid #e6e6e6;
    width:100%;

}
#roomtype,#numofadults,#numofchild{
    height:180%;
    width:100%;
    border:1px solid #e6e6e6;
    color: gray;
}
#search{
    height:50px;
    width:100%;
    background:#8d703b ;
    border-color: #8d703b;
    border-radius: 3px;
   border-style: none;
   color:white;
   font-size: medium;
}
#search:hover{
    background: white;
    color:#8d703b;
    border:1px solid #8d703b;
   
}
.bigsizename{
    font-family: "Playfair Display", serif;
    font-size: 130%;
    font-weight: 50px;
}

  .horizontal{
      width:80%;
      color: gray;
      opacity:0.3;
     
  }

  .cost-div{
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
     /* border:1px solid black ; */
      align-items: baseline;
      height:15%;
      margin-top: -15%    
     
  }
  .pricestyle{
      font-size: 25px;
      font-family: "Poppins",sans-serif;
      padding-bottom:-4px;
      border-bottom-style: solid;
      border-bottom-width: 2px;
       width: fit-content; 
       border-color:#8d703b;
        
  }
  .pricepernight{
    font-size: 90%;
    font-family: "Poppins",sans-serif;
    color: gray;
   

  }
  .item{
      margin:3px;
      
  }
  .booknow{
      font-size: 16px;
      background: white;
      border:none;   
  }
  .book-div{
      height:10%;
      text-align: center;
  }
  .fa-long-arrow-alt-right{
      color:black
  }
  .line1star,.ratinghead{
      margin-top: -20px;
  }
  .slider1{
      accent-color: #8d703b ;
  }
.book{
    text-decoration: none;
    color:black;
}
.book-div{
    display:flex;
    justify-content: center;
    align-items: center;
    height:10%
}

  @media screen and (max-width:991px){
      .container{
          grid-template-columns: 1fr;
          /* margin:20px; */
          grid-row-gap:1%
      }
      .rooms-div{
          grid-template-columns: repeat(2,1fr);
          grid-row-gap:1%;
      }
      .searchform{
          justify-content:space-between;
          align-content: flex-start;
          width:100%
          /* height:60% */
      }
      .rating{
          width:100%;
      }
      .searchform div input{
       
        width:90%;
        /* height:70% */
    
    }
    #roomtype,#numofadults,#numofchild{
       
        width:90%;
       
    }
    #search{
        width:90%
    }
    .searchinp{
        width:100%
    }
   /* .room-card{
       
       padding-bottom: 10%;
         
   } */
   .room-spec{
       font-size: 20px;
   }
   .bigsizename{
       font-size: 30px;
   }
   .cost-div{
    margin-top:-2%
   }
   .pricestyle{
    font-size: 30px;
  }
  .pricepernight{
    font-size: 20px;
  }
  .booknow{
      font-size: 20px;
  }
  .book-div{
      display:flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      height:10%
  }
     

  }
  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  @media screen and (max-width:767px){
    .container{
        grid-template-columns: 1fr;
        margin:20px;
        grid-row-gap:5%;
    }
    .rooms-div{
        grid-template-columns: 1fr;
        grid-row-gap:1%;
        
    }
    .searchform{
        justify-content:space-between;
        align-content: flex-start;
        width:100%;
        /* height:60% */

    }
    .room-card{
        width:100%;
        height:100%;
        /* padding-bottom: -136.667px; */
        box-sizing: border-box;
        
        
    }
    .rating{
        width:100%;
    }
    .searchform div input{
     
      width:90%;
  
  }
  .searchinp{
      width:100%
  }
  #roomtype,#numofadults,#numofchild{
     
      width:90%;
     
  }
  #search{
      width:90%
  }
  .bigsizename{
      font-size: 40px;
  }
  
  .cost-div{
      margin-top: -6%;
      height:8%;
     
  }
  .pricestyle{
    font-size: 30px;
  }
  .pricepernight{
    font-size: 20px;
  }
  .room-spec{
      margin-top: 4%;
      font-size: 20px;
  }
  .book-div{
      display:flex;
      height:10%;
      justify-content: center;
      align-items: center;
  }
  .booknow{
      font-size: 30px;
  }
   

}


